main{
    background-color: aqua;
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
input{
    font-size: 18px;
    padding: 5px;
    border: solid 1px black;
    border-radius: 10pt;
    margin: 5px;
}
input[type=text]:focus{
    background-color: rgb(255, 23, 92);
}
label{
    display: block;
    width: 100%;
    
}
.kuld{
    display: block;
    text-align: center;
    margin: auto;
    
}
form,h1{
    margin: 10px;
}
.fi{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.labeldiv label{
    
    font-weight: 45px;
}
